.contact{
    &__container{
        padding-bottom: 3rem;
    }

    &__description{
        text-align: center;
    }

    &__data{
        row-gap: .75rem;
    }

    &__item{
        font-size: var(--small-font-size);
        font-weight: var(--font-semi-bold);
        color: var(--title-color);
    }

    &__info{
        font-weight: initial;
        color: var(--text-color);
    }

}