/*Fuentes de tipografia*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600|Raleway:400,600&display=swap');

/*Height Header*/
:root{
    --header-height: 4.8rem; 
}

/*Colors*/
:root{
    --color-first: #EA4C89;
    --color-secondary: #1D2063;
    --color-text: #fff;
}

/*Font*/
:root{
    --heading-font: 'Raleway';
    --body-font: 'Open Sans';
    --h1-font-size: 3.2rem;
    --h3-font-size: 1.6rem;
    --small-font-size: 1rem;
}


/* Mobile First */
@media screen and (min-width: 768px) {
    :root{
        --h1-font-size: 5.6rem;
        --h3-font-size: 2rem;
        --small-font-size: 1rem;
    }
}

/* z-index*/
:root{
    --z-back: -10;
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 1000000000000000000000000000000000000000000;
    --z-modal: 1000;
}


/* Base */

html{
    font-size: 62.5%;
}

body{
    margin: var(--header-height) 0 0 0;
    color: var(--color-text);
    background-color: var(--color-secondary);
    font-family: var(--body-font);
    font-size: 1.6rem;
}
/* Reset CSS */
*,::before,::after{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

h1{
    font-size: var(--h1-font-size);
    font-family: var(--heading-font);
}
img{
    max-width: 100%;
    height: auto;
}

/* Header */
.header{
    width: 100%;
    position: fixed;
    height: var(--header-height);
    top:0;
    left:0;
    background-color: var(--color-second);
}

.bg-grid{
    display: grid;
    grid-template-columns: 100%;
    align-items: center;
    margin-left: 1.6rem;
    margin-right: 1.6rem;
    max-width: 1200px;
}

/* Nav Menu */
.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 768px){
    .nav__menu{
        position: fixed ;
        right: -100%;
        top: var(--header-height);
        bottom: 0;
        background-color: var(--color-secondary);
        border-top: 1px solid var(--color-text);
        border-left: 1px solid var(--color-text);
        padding: 2.4rem;
        width: 60%;
        transition: all 0.5s;
        z-index: var(--z-fixed);
    }

    .home__socials{
        justify-content: center;
    }
}
.nav__item{
    margin-bottom: 2.4rem;
}

.nav__icon{
    font-size: 2.4rem;
}

.nav__link{
    color: var(--text-color);
}

.nav__link:hover{
    border-bottom: 1px solid #fff;
}

.menu-toggle{
    cursor: pointer;
}

.show{
    right:0;
}

/* Home */
.home{
    height: calc(100vh - var(--header-height));
}

.home__data{
    width: 100%;
    padding-top: 3.2rem;
    text-align: center;
}

.home__title{
    color: var(--color-first);
    margin-top: 2.2rem;
    margin-bottom: 0.8rem;
}

.home__name{
    display:block;
    margin-bottom: 2.4rem;
    font-size: 2rem;
}

.button{
    padding: 0.8rem 2.4rem;
    background-color: var(--color-first);
    border-radius: 2.4rem;
    display: inline-block;
    color: var(--color-text);
    margin-bottom: 2.4rem;
    transition: all 0.5s;
}

.button:hover{
    box-shadow: 0 0 30px var(--color-first);
}

.home__socials{
    display: flex;
    align-items: center;
}

.home__socials-name{
    border-left: 1px solid var(--color-text);
    padding: 1.6rem 0.32rem;
    transform: rotate(180deg);
    writing-mode: vertical-rl;
    
}

.home__socials-icon{
    color: var(--text-color);
    margin: 0 1rem;
    font-size: 2.4rem;
}

.home__img{
padding: 3.2rem;
}

@media screen and (min-width: 768px) {
    body{
        margin: 0;
    }

    .home{
        height: 100vh;
    }
    .nav__item{
        display: inline-block;
        margin:0 0 0 2.4rem;
    }

    .bg-grid{
        grid-template-columns: repeat(2,1fr);
    }

    .menu-toggle{display: none;}

    .home__data{
        text-align:left;
        padding-top: 0;
    }

    .button {
        margin-bottom: 4.8rem;
    }

}

@media screen and (min-width: 1200px) {
    .bg-grid{
        margin-left: auto;
        margin-right: auto;
    }

}