*,::after,::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
button,
input{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--body-color);
    color: var(--text-color);
    transition: .2s;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

h1,h2,h3,h4{
    color: var(--title-color);
    font-weight: var(--font-semi-bold)
}

button{
    border: none;
    outline: none;
    cursor: pointer;
}