@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

/* header-height */
:root{
    --header-height: 3rem;

    @media screen and (min-width: 768px){
        --header-height: 4rem;
    }
}

/* Color Variable */
:root{
    --first-color: #0396A6;
    --dark-color: #000;
    --white-color: #F2F2F2;
}

/* Font */
:root{
    --body-font: 'Open Sans', sans-serif;

    --biggest-font-size: 3.5rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: 0.938rem;

    @media screen and (min-width: 768px){
        --biggest-font-size: 7rem;
        --h2-font-size: 1.5rem;
        --normal-font-size: 1rem;
    }
}

/* BASE */
*,::after,::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--white-color);
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: var(--body-font);
    margin: 0;
    background-color: var(--dark-color);
    color: var(--white-color);
}

/* LAYOUTS */
.bd-grid{
    max-width: 1200px;
    margin-right: 1rem;
    margin-left: 1rem;
}

.l-header{
    position: absolute ;
    top: 0;
    left: 0;
    right: 0;
    height: var(--header-height);
    background-color: transparent;
    width: 100%;
    z-index: 100;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    font-weight: bold;

    &__menu{
        @media screen and (max-width: 768px){
            position: fixed;
            height: var(--header-height);
            top: -100%;
            left: 0;
            right: 0;
            height: 40%;
            padding: 2rem;
            background-color: rgba(0, 0, 0, 0.9);
            text-align: center;
            transition: all .5s;
            z-index: 101;
        }
    }

    &__item{
        margin-bottom: 2rem;
    }

    &__toggle{
        font-size: 1.5rem;
        cursor: pointer;
    }

    .show{
        top: var(--header-height);
    }
}

.home{
    height: 100vh;
    position: relative;
    overflow: hidden;

    &__parallax{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        &-img1{
            background-image: url(../img/imgm1.png);
            z-index: 1;
        }

        &-img2{
            background-image: url(../img/imgm2.png);
            z-index: 3;
        }

        &-img3{
            background-image: url(../img/imgm3.png);
            z-index: 5;
        }

        &-img4{
            background-image: url(../img/imgm4.png);
            z-index: 6;
        }
    }

    &__title, &__subtitle,&__scroll{
        position: absolute;
        width: 100%;
        text-align: center;
        font-weight: bold;
    }

    &__title{
        font-size: var(--biggest-font-size);
        z-index: 2;
        top: 32%;
    }

    &__subtitle{
        font-size: var(--h2-font-size);
        z-index: 4;
        top: 44%;
    }

    &__scroll{
        bottom: 2.5rem;
        color: var(--white-color);
        font-size: 1.5rem;
        z-index: 10;
    }
}

.section{
    height: 100vh;
    max-width: 950px;
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    margin: 0 1rem;
    justify-content: space-evenly;
    align-items: center;

    &__data{
        margin-bottom: 3rem;
    }

    &__title{
        font-size: var(--h2-font-size);
        color: var(--first-color);
        margin-bottom: 1rem;
    }

    &__img{
        width: 285px;
        border-radius: .5rem;
    }
}

@media screen and (min-width: 768px){
    .nav{
        &__list{
            display: flex;
            height: var(--header-height);
            justify-content: flex-end;
            align-items: center;
        }

        &__item{
            margin-bottom: 0;
            margin-right: 3rem;
        }

        &__toggle{
            display: none
        }
    }

    .home{
        &__title{
            top: 27%;
        }

        &__subtitle{
            top: 50%;
        }
    }

    .section{
        flex-direction: row;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;

        &__text {
            padding-right: 4rem;
        }

        &__img{
            width: 470px;
        }
    }
}

@media screen and (min-width: 1200px){
    .bd-grid{
        margin-left: auto;
        margin-right: auto;
    }
}