/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
/*===== VARIABLES CSS =====*/
:root {
  /*===== Colores =====*/
  --first-color: #9D4BFF;
  --first-color-dark: #23004D;
  --first-color-light: #A49EAC;
  --first-color-lighten: #F2F2F2;
  /*===== Font and typography =====*/
  --body-font: 'Open Sans', sans-serif;
  --h1-font-size: 1.5rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
}

@media screen and (min-width: 768px) {
  :root {
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
  }
}

/* BASE */
*, ::after, ::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--first-color-dark);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
}

/* LAYOUTS */
.login {
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
}

.login__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  height: 100%;
}

.login__img {
  -ms-grid-column-align: center;
      justify-self: center;
}

.login__img img {
  width: 310px;
  margin-top: 1.5rem;
}

.login__forms {
  position: relative;
  height: 368px;
}

.login form {
  -webkit-box-shadow: 0 8px 20px rgba(35, 0, 77, 0.2);
          box-shadow: 0 8px 20px rgba(35, 0, 77, 0.2);
  display: none;
}

.login__signin, .login__signup {
  background-color: var(--first-color-lighten);
  width: 100%;
  border-radius: 1rem;
  padding: 2rem 1rem;
  position: absolute;
  bottom: 1rem;
  text-align: center;
  -webkit-animation-duration: .4s;
          animation-duration: .4s;
  -webkit-animation-name: animate-login;
          animation-name: animate-login;
}

.login__title {
  font-size: var(--h1-font-size);
  margin-bottom: 2rem;
}

.login__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: .5rem;
          column-gap: .5rem;
  padding: 1.125rem 1rem;
  background-color: #fff;
  margin-top: 1rem;
  border-radius: .5rem;
}

.login__icon {
  font-size: 1.5rem;
  color: var(--first-color);
}

.login__input {
  width: 100%;
  border: none;
  outline: none;
  font-size: var(--normal-font-size);
  color: var(--first-color-dark);
  font-weight: 700;
}

.login__forgot {
  margin-top: .5rem;
  margin-left: auto;
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: var(--small-font-size);
  color: var(--first-color-light);
  font-weight: 600;
}

.login__button {
  display: block;
  width: 100%;
  border: none;
  outline: none;
  border-radius: .5rem;
  font-weight: 600;
  margin: 2rem 0;
  padding: 1rem;
  color: #fff;
  background-color: var(--first-color);
  font-size: var(--normal-font-size);
  -webkit-transition: .5s;
  transition: .5s;
  font-family: inherit;
  cursor: pointer;
}

.login__button:hover {
  background-color: var(--first-color-dark);
}

.login__account, .login__register {
  font-size: var(--small-font-size);
  font-weight: 600;
}

.login__register {
  color: var(--first-color);
  cursor: pointer;
}

.login__social {
  margin-top: 2rem;
}

.login__social-icon {
  font-size: 1.5rem;
  color: var(--first-color-dark);
  margin: 0 1.5rem;
}

.none {
  display: none;
}

.block {
  display: block !important;
}

@media screen and (min-width: 576px) {
  .login__forms {
    -ms-grid-column-align: center;
        justify-self: center;
    width: 348px;
  }
}

@media screen and (min-width: 1024px) {
  .login__content {
    margin-left: 10rem;
    -ms-grid-columns: (max-content)[2];
        grid-template-columns: repeat(2, -webkit-max-content);
        grid-template-columns: repeat(2, max-content);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .login__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 600px;
    height: 588px;
    padding-left: 1rem;
    background-color: var(--first-color-lighten);
    border-radius: 1rem;
  }
  .login__img img {
    width: 390px;
    margin-top: 0;
  }
  .login form {
    left: -11rem;
  }
  .login__signin {
    bottom: -2rem;
  }
  .login__signup {
    bottom: -5.5rem;
  }
}

@-webkit-keyframes animate-login {
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes animate-login {
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}
/*# sourceMappingURL=style.css.map */