@mixin logo{
    display: flex;
    align-items: center;
    column-gap: .5rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: -1px;
    transition: .3s;

    &-icon{
        font-size: 1.15rem;
        color: var(--first-color);
    }

    &:hover{
        color: var(--first-color);
    }
}