@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
/* Variables */
/* Header height */
:root {
  --header-height: 3rem;
}

@media screen and (min-width: 768px) {
  :root {
    --header-height: 4rem;
  }
}

/* Color Variables*/
:root {
  --first-color: #787879;
  --second-color: #0071E3;
  --white-color: #FFF;
}

/* Font */
:root {
  --body-font: 'Roboto', sans-serif;
  --bigest-font-size: 3.5rem;
  --bigger-font-size: 2.25rem;
  --big-font-size: 1.625rem;
  --normal-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
}

@media screen and (min-width: 768px) {
  :root {
    --bigest-font-size: 8rem;
    --bigger-font-size: 4.5rem;
    --big-font-size: 2.5rem;
    --normal-font-size: 1rem;
    --smaller-font-size: 0.938rem;
  }
}

/* BASE */
*, ::after, ::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: var(--first-color);
}

body {
  font-family: var(--body-font);
  margin-top: var(--header-height);
}

/* LAYOUTS */
.bd-grid {
  max-width: 1200px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.l-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: var(--header-height);
  background-color: #fff;
  z-index: 100;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: var(--header-height);
}

.nav__logo {
  font-weight: 700;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    right: 0;
    height: 20%;
    padding: 2rem 1rem;
    border-bottom: 1px solid #000;
    background-color: #fff;
    z-index: 101;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
}

.nav__item {
  margin-bottom: 1.5rem;
}

.nav__link:hover {
  color: var(--second-color);
}

.nav__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__toggle {
  cursor: pointer;
  margin-right: 1rem;
  width: 1.8rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.nav__btn {
  padding: 0.375rem 1rem;
  color: var(--white-color);
  background-color: var(--second-color);
  border-radius: 1rem;
}

.rotate {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.show {
  top: var(--header-height);
}

.home {
  height: calc(100vh - var(--header-height));
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1.5fr 1fr 1fr;
      grid-template-rows: 1.5fr 1fr 1fr;
      grid-template-areas: "data" "img" "scroll";
  row-gap: 1.5rem;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.home__data {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: data;
  text-align: center;
  padding-top: 3.5rem;
}

.home__title {
  font-size: var(--bigest-font-size);
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.home__description {
  font-size: var(--normal-font-size);
}

.home__img {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: img;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home__img img {
  width: 81px;
  height: 177px;
}

.home__scroll {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: scroll;
  display: block;
  text-align: center;
}

.home__scroll-text {
  display: block;
  font-size: 0.75rem;
  margin-bottom: 1rem;
}

.home__scroll-icon {
  width: 2rem;
}

.airpod1 {
  -webkit-animation: airpod1 3s ease-in-out infinite;
          animation: airpod1 3s ease-in-out infinite;
}

@-webkit-keyframes airpod1 {
  50% {
    -webkit-transform: translateY(-6%);
            transform: translateY(-6%);
  }
}

@keyframes airpod1 {
  50% {
    -webkit-transform: translateY(-6%);
            transform: translateY(-6%);
  }
}

.airpod2 {
  -webkit-animation: airpod2 3s ease-in-out infinite;
          animation: airpod2 3s ease-in-out infinite;
}

@-webkit-keyframes airpod2 {
  50% {
    -webkit-transform: translateY(6%);
            transform: translateY(6%);
  }
}

@keyframes airpod2 {
  50% {
    -webkit-transform: translateY(6%);
            transform: translateY(6%);
  }
}

.l-section {
  height: calc(100vh - var(--header-height));
}

.detail {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 113px max-content;
      grid-template-columns: 113px -webkit-max-content;
      grid-template-columns: 113px max-content;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.detail__img {
  width: 218px;
  -webkit-animation: airpod 3s ease-in-out infinite;
          animation: airpod 3s ease-in-out infinite;
}

@-webkit-keyframes airpod {
  50% {
    -webkit-transform: translateY(6%);
            transform: translateY(6%);
  }
}

@keyframes airpod {
  50% {
    -webkit-transform: translateY(6%);
            transform: translateY(6%);
  }
}

.detail__content {
  text-align: center;
}

.detail__box {
  margin-bottom: 2.5rem;
}

.detail__initial {
  font-size: var(--smaller-font-size);
}

.detail__title {
  font-weight: 400;
  font-size: var(--bigger-font-size);
}

.detail__title span {
  margin-left: 8px;
  font-size: var(--big-font-size);
}

.detail__description {
  font-size: var(--smaller-font-size);
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .nav__toggle {
    display: none;
  }
  .nav__menu {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: var(--header-height);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .nav__item {
    margin-bottom: 0;
    margin-right: 1.5rem;
  }
  .home {
    height: 100vh;
    -ms-grid-rows: 80% 10%;
        grid-template-rows: 80% 10%;
    -ms-grid-columns: min-content;
        grid-template-columns: -webkit-min-content;
        grid-template-columns: min-content;
        grid-template-areas: "data img" "scroll scroll";
    -ms-flex-line-pack: end;
        align-content: flex-end;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 4rem;
            column-gap: 4rem;
  }
  .home__data {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: data;
    padding: 0;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .home__scroll {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: scroll;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding-bottom: 2rem;
  }
  .home__img img {
    width: 114px;
    height: 248px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .home__description {
    text-align: left;
    padding-right: 5rem;
  }
  .detail {
    -webkit-column-gap: 4rem;
            column-gap: 4rem;
    -ms-grid-columns: 158px max-content;
        grid-template-columns: 158px -webkit-max-content;
        grid-template-columns: 158px max-content;
  }
  .detail__img {
    width: 300px;
  }
}

@media screen and (min-width: 1200px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
}
/*# sourceMappingURL=style.css.map */