/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3rem;
  /*========== Colors ==========*/
  --hue: 174;
  --sat: 63%;
  --first-color: hsl(var(--hue), var(--sat), 40%);
  --first-color-alt: hsl(var(--hue), var(--sat), 36%);
  --title-color: hsl(var(--hue), 12%, 15%);
  --text-color: hsl(var(--hue), 8%, 35%);
  --body-color: hsl(var(--hue), 100%, 99%);
  --container-color: #FFF;
  /*========== Font and typography ==========*/
  --body-font: 'Open Sans', sans-serif;
  --h1-font-size: 1.5rem;
  --normal-font-size: .938rem;
  --tiny-font-size: .625rem;
  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --h1-font-size: 2.25rem;
    --normal-font-size: 1rem;
  }
}

/*=================== BASE ====================*/
*, ::after, ::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin-top: var(--header-height);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--text-color);
  background-color: var(--body-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 968px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.section {
  padding: 4.5rem 0 2rem;
}

.section__title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
  text-align: center;
  margin-bottom: 1.5rem;
}

.section__height {
  height: 100vh;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--container-color);
}

.nav {
  height: var(--header-height);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__logo {
  color: var(--title-color);
  font-weight: 600;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--container-color);
    height: 4rem;
    border-radius: 1.25rem 1.25rem 0 0;
    -webkit-box-shadow: 0 -1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
            box-shadow: 0 -1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
    padding: 0 1rem;
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .nav__name {
    font-size: var(--tiny-font-size);
  }
  .nav__icon {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    font-size: 1.5rem;
  }
  .nav__list {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .nav__link > * {
    margin-top: 4px;
  }
  .nav__link > *:first-child {
    margin-top: 0;
  }
}

.nav__list, .nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 600;
  color: var(--title-color);
}

.nav__link {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__img {
  width: 32px;
  border-radius: 50%;
}

.active {
  position: relative;
  color: var(--first-color);
  -webkit-transition: .3s;
  transition: .3s;
}

.scroll-header {
  -webkit-box-shadow: 0 1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
          box-shadow: 0 1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
}

@media screen and (max-width: 320px) {
  .nav__name {
    display: none;
  }
  .nav__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav__list > * {
    margin-left: 3rem;
  }
  .nav__list > *:first-child {
    margin-left: 0;
  }
}

@media screen and (min-width: 576px) {
  .nav__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav__list > * {
    margin-left: 3rem;
  }
  .nav__list > *:first-child {
    margin-left: 0;
  }
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav__list > * {
    margin-left: 3rem;
  }
  .nav__list > *:first-child {
    margin-left: 0;
  }
  .nav__icon {
    display: none;
  }
  .nav__img {
    display: none;
  }
  .nav .active::after {
    content: '';
    position: absolute;
    bottom: -.75rem;
    width: 4px;
    height: 4px;
    background-color: var(--first-color);
    border-radius: 50%;
  }
  .section {
    padding: 7rem 0 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
}
/*# sourceMappingURL=style.css.map */