.button{
    display: inline-block;
    background-color: var(--button-color);
    color: #FFF;
    padding: 1.25rem 2rem;
    font-weight: var(--font-medium);
    transition: .2s;

    &:hover{
        background-color: var(--button-color-alt);
    }

    &--gray{
        background-color: #bfbfbf;
        color: var(--title-color);

        &:hover{
            background-color: #a1a1a1;
        }
    }

    &--small{
        padding: 1rem 1.5rem;
    }
}