.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo,
    &__shop,
    &__toggle,
    &__close{
        color: var(--title-color);
    }

    &__logo{
        display: flex;
        text-transform: uppercase;
        font-weight: var(--font-bold);
        letter-spacing: 1px;
        align-items: center;
        column-gap: .25rem;

        &-icon{
            font-size: 1.25rem;
        }
    }

    &__btns{
        display: flex;
        align-items: center;
        column-gap: 1rem;
    }

    @media screen and (max-width: 767px){
        &__menu{
            position: fixed;
            top: 0;
            right: -100%;
            width: 100%;
            bottom: 0;
            background-color: var(--body-color);
            padding: 6rem 2rem 3.5rem;
            transition: .2s;
        }
    }


    &__list{
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
        align-items: center;
    }

    &__close{
        position: absolute;
        font-size: 2rem;
        top: .9rem;
        right: 1.25rem;
        cursor: pointer;
    }

    &__link{
        text-transform: uppercase;
        color: var(--title-color);
        font-weight: var(--font-medium);
        font-size: var(--h2-font-size);
        transition: .2s;
    }

    &__shop,&__toggle{
        font-size: 1.25rem;
        cursor: pointer;
    }

    .active{
        color: var(--first-color);
    }
}

.change-theme{
    color: var(--title-color);
    font-size: 1.25rem;
    cursor: pointer;
}

.show-menu{
    right: 0;
}

.scroll-header{
    background-color: var(--body-color);
    box-shadow: 0 1px 4px rgba(40,37,37,.1);
}