.new{
    &__card{
        position: relative;
        text-align: center;
        background-color: var(--container-color);
        padding-top: 2rem;
        border: 1px solid var(--border-color);
        overflow-y: hidden;
        transition: .2s;

        &:hover{
            background-color: var(--first-color);
            box-shadow: 0 12px 32px rgba(51,51,51,.1);
            padding: 2rem 0 3rem 0;
        }
    }

    &__tag{
        background-color: var(--first-color);
        color: #fff;
        padding: .5rem 1rem;
        text-transform: uppercase;
        font-size: var(--small-font-size);
        font-weight: var(--font-medium);
        position: absolute;
        right: 1rem;
        top: 1rem;
        transition: .3s;
    }

    &__card:hover &__tag{
        background-color: var(--button-color);
    }

    &__img{
        height: 215px;
        margin-bottom: var(--mb-1);
    }

    &__title,
    &__price{
        font-size: var(--h3-font-size);
        font-weight: var(--font-bold);
    }

    &__title{
        text-transform: uppercase;
        margin-bottom: var(--mb-0-75);
    }

    &__price{
        display: block;
        color: var(--first-color);
        transition: .3s;
    }

    &__card:hover &__price{
        color: #262626;
        margin-bottom: var(--mb-1-5);
    }

    &__button{
        opacity: 0;
        transform: translateY(1rem);
        font-size: var(--small-font-size);
    }

    &__card:hover &__button{
        opacity: 1;
        transform: translateY(0);
    }

    
}