/*================= BASE ====================*/
*,::after,::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body,
button,
input,
textarea{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}


body{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--text-color);
    background-color: var(--body-color);
    transition: .4s;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

button,
input,textarea{
    border: none;
    outline: none;
}

button{
    cursor: pointer;
}

h1,h2,h3{
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}