/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap");
/*===== VARIABLES CSS =====*/
:root {
  /*========== Colors ==========*/
  --body-color: #020318;
  --text-color-light: #FFF;
  /*========== Font and typography ==========*/
  --body-font: 'Poppins', sans-serif;
  --biggest-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --normal-font-size: .938rem;
  --smaller-font-size: .75rem;
  /*========== Box, Drop & Text Shadow ==========*/
  --box-shadow-inset: inset 0 22px 56px -36px rgba(255, 255, 255, .5), 
                        inset 0 4px 5px -4px rgba(255, 255, 255, 1), 
                        inset 0 -31px 34px -32px rgba(96, 68, 144, .3), 
                        inset 0 39px 50px -34px rgba(202, 172, 255, .3), 
                        inset 0 2px 9px rgba(154, 146, 210, .3), 
                        inset 0 1px 10px rgba(227, 222, 255, .2);
  --drop-shadow: 0 0 8px rgba(161, 165, 247, .8);
  --text-shadow: 0 0 8px rgba(161, 165, 247, .8);
  --box-shadow-inset-button: inset 0 2px 7px -9px rgba(255, 255, 255, .5), 
                               inset 0 1px 2px -1px rgba(255, 255, 255, 1), 
                               inset 0 -20px 16px -32px rgba(96, 68, 144, .3), 
                               inset 0 28px 25px -24px rgba(202, 172, 255, .3), 
                               inset 0 1px 4px rgba(154, 146, 210, .3), 
                               inset 0 1px 10px rgba(227, 222, 255, .2);
  /*========== Box, Drop & Text Shadow Hover ==========*/
  --box-shadow-inset-hover: inset 0 19px 28px -18px rgba(255, 255, 255, .5), 
                              inset 0 4px 6px -3px rgba(255, 255, 255, 1), 
                              inset 0 -51px 44px -42px rgba(96, 68, 144, .3), 
                              inset 0 59px 60px -32px rgba(202, 172, 255, .3), 
                              inset 0 4px 16px rgba(154, 146, 210, .3), 
                              inset 0 2px 25px rgba(227, 222, 255, .23);
  --drop-shadow-hover:  0 0 14px rgba(161, 165, 247, .8);
  --text-shadow-hover: 0 0 14px rgba(161, 165, 247, .8);
  --box-shadow-inset-button-hover: inset 0 4px 7px -4px rgba(255, 255, 255, .5), 
                                     inset 0 1px 2px -1px rgba(255, 255, 255, 1), 
                                     inset 0 -20px 16px -32px rgba(96, 68, 144, .3), 
                                     inset 0 28px 25px -20px rgba(202, 172, 255, .3), 
                                     inset 0 1px 4px rgba(154, 146, 210, .3), 
                                     inset 0 1px 16px rgba(227, 222, 255, .2);
  /*========== Filter Blur ==========*/
  --filter-blur: blur(100px)
;
}

@media screen and (min-width: 1024px) {
  :root {
    --normal-font-size: 1rem;
  }
}

/* BASE */
*, ::after, ::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color-light);
}

a {
  text-decoration: none;
}

/* LAYOUTS */
.bd-container {
  max-width: 1024px;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.neon {
  padding: 2.5rem 0;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.neon__container {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: (minmax(312px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(312px, 1fr));
  row-gap: 3.5rem;
  -webkit-column-gap: 2.5rem;
          column-gap: 2.5rem;
}

.neon__card, .neon__icon, .neon__button, .neon__title, .neon__description, .neon__button-icon {
  -webkit-transition: .3s;
  transition: .3s;
}

.neon__card {
  padding: 3.5rem 1.5rem 2rem;
  background-color: rgba(255, 255, 255, 0.01);
  -webkit-backdrop-filter: var(--filter-blur);
          backdrop-filter: var(--filter-blur);
  border-radius: 3rem;
  text-align: center;
  color: var(--text-color-light);
  -webkit-box-shadow: var(--box-shadow-inset);
          box-shadow: var(--box-shadow-inset);
}

.neon__card:hover {
  -webkit-box-shadow: var(--box-shadow-inset-hover);
          box-shadow: var(--box-shadow-inset-hover);
}

.neon__card:hover .neon__title, .neon__card:hover .neon__description {
  text-shadow: var(--text-shadow-hover);
}

.neon__card:hover .neon__icon {
  -webkit-filter: drop-shadow(var(--drop-shadow-hover));
          filter: drop-shadow(var(--drop-shadow-hover));
}

.neon__icon {
  width: 120px;
  fill: var(--text-color-light);
  -webkit-filter: drop-shadow(var(--drop-shadow));
          filter: drop-shadow(var(--drop-shadow));
  margin-bottom: .25rem;
}

.neon__title, .neon__description {
  text-shadow: var(--text-shadow);
}

.neon__title {
  font-size: var(--biggest-font-size);
  margin-bottom: .25rem;
}

.neon__description {
  text-align: initial;
  margin-bottom: 1.5rem;
}

.neon__button {
  -webkit-box-shadow: var(--box-shadow-inset-button);
          box-shadow: var(--box-shadow-inset-button);
  color: var(--text-color-light);
  text-shadow: var(--text-shadow);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.25rem;
  border-radius: 1rem;
}

.neon__button-icon {
  width: 1.2rem;
  margin-left: .5rem;
  fill: var(--text-color-light);
  -webkit-filter: drop-shadow(var(--drop-shadow));
          filter: drop-shadow(var(--drop-shadow));
}

.neon__button:hover {
  -webkit-box-shadow: var(--box-shadow-inset-button-hover);
          box-shadow: var(--box-shadow-inset-button-hover);
}

@media screen and (max-width: 359px) {
  .neon__container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .neon__icon {
    width: 80px;
  }
  .neon__title {
    font-size: var(--h1-font-size);
  }
  .neon__description {
    font-size: var(--smaller-font-size);
  }
  .neon__card {
    padding: 2rem 1rem 1.5rem;
    border-radius: 2rem;
  }
  .neon__button {
    padding: 1rem;
    font-size: var(--smaller-font-size);
    border-radius: .6rem;
  }
  .neon__button-icon {
    width: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .neon {
    height: 100vh;
  }
  .bd-container {
    margin-left: auto;
    margin-right: auto;
  }
}
/*# sourceMappingURL=style.css.map */