/*============ CASE ==========*/
.case{
    &__container{
        grid-template-columns: repeat(2,1fr) ;
        position: relative;
    }

    &__description{
        line-height: var(--text-line-height);
        margin-bottom: var(--mb-1-5);
    }

    &__data{
        padding: 5rem 0 3rem;
    }

    &__img{
        position: absolute;
        left: -7rem;
        width: 250px;
    }
}