@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");
/* Header Height */
/* Color Variable */
:root {
  --first-color: #EFD50C;
  --text-color: #B7B7B7;
  --bg-color: #141313;
  --white-color: #fff;
  --icon-color: #ED4C50;
}

/* Font */
:root {
  --body-font: 'Montserrat', sans-serif;
  --smaller-font-size: 0.5rem;
  --small-font-size: 0.75rem;
  --big-font-size: 3rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.93rem;
}

@media screen and (min-width: 768px) {
  :root {
    --big-font-size: 6rem;
    --h2-font-size: 1.5rem;
    --normal-font-size: 1rem;
  }
}

/* BASE */
*, ::after, ::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--body-font);
  margin-top: 3rem;
  overflow: hidden;
  font-weight: initial;
  background-color: var(--bg-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

h1, h2, h3 {
  font-weight: bold;
}

/* LAYOUTS */
.l-header {
  height: 3rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 100;
}

.bd-grid {
  max-width: 1200px;
  margin: 0 1rem;
}

/* LAYOUTS */
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: var(--first-color);
  font-weight: bold;
}

.nav__logo {
  font-size: var(--normal-font-size);
}

.nav__toggle {
  font-size: 1.5rem;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    height: 40%;
    top: -100%;
    right: 0;
    left: 0;
    padding: 2rem;
    text-align: center;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    border-radius: 0 0 1rem 1rem;
    background-color: var(--bg-color);
    -webkit-box-shadow: 10px 10px 10px #000;
            box-shadow: 10px 10px 10px #000;
  }
}

.nav__item {
  margin-bottom: 1.5rem;
}

.nav__link {
  color: var(--text-color);
  padding: 8px;
}

.nav__link:hover {
  color: var(--first-color);
}

.show {
  top: 3rem;
}

.main-home {
  height: calc(100vh - 3rem);
  padding-left: 1rem;
}

.home {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  row-gap: 2.3rem;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  overflow: hidden;
  height: 100%;
}

.home__title {
  color: var(--text-color);
  font-size: var(--big-font-size);
  position: absolute;
  top: 3%;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.home__img {
  position: absolute;
  width: 394px;
  top: 7%;
  left: 20%;
}

.home__infomation {
  padding-left: 4.5rem;
  padding-right: 2rem;
  color: var(--text-color);
}

.home__subtitle {
  color: var(--first-color);
  font-size: var(--h2-font-size);
}

.home__description {
  margin: 14.88px 0;
  font-size: var(--normal-font-size);
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 1rem;
}

.box__medium {
  width: 150px;
  height: 150px;
  padding: 1.5rem 0.75rem;
  margin-right: 2rem;
}

.box--dark {
  border-radius: 1rem;
  text-align: center;
  color: var(--text-color);
  -webkit-box-shadow: 10px 10px 30px #000;
          box-shadow: 10px 10px 30px #000;
}

.box__medium-title {
  color: var(--white-color);
  font-size: 3rem;
}

.box__medium-description {
  font-size: var(--normal-font-size);
  margin-bottom: .5rem;
}

.box__medium-detail {
  font-size: var(--small-font-size);
}

.box__small {
  padding: 0.75rem 0;
  width: 70px;
  height: 70px;
  margin-bottom: 0.625rem;
}

.box__small-title {
  font-size: var(--small-font-size);
  color: var(--white-color);
}

.box__small-detail {
  font-size: var(--smaller-font-size);
}

.icon-box {
  color: var(--icon-color);
  font-size: 3rem;
}

.icon-box--small {
  font-size: 1rem;
}

.d-inline {
  display: inline-block;
}

.d-block {
  display: block;
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 3rem;
  }
  .nav__item {
    margin: 0 2rem 0 0;
  }
  .nav__toggle {
    display: none;
  }
  .main-home {
    height: 100vh;
    padding: 0;
  }
  .home {
    -ms-grid-columns: 402px 322px;
        grid-template-columns: 402px 322px;
    -ms-grid-rows: 152px;
        grid-template-rows: 152px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 2rem;
    height: 100vh;
  }
  .home__title {
    top: 23%;
    left: 0;
    right: 0;
    text-align: center;
    -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
            writing-mode: horizontal-tb;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  .home__img {
    width: 569px;
    top: 32%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .home__infomation {
    padding: 0;
  }
}

@media screen and (min-width: 1200px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
}
/*# sourceMappingURL=style.css.map */