*,::after,::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: var(--body-font);
    color: var(--text-color);
    background-color: var(--body-color);
    font-size: var(--normal-font-size);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
    height: auto;
}

button,input{
    border: none;
    outline: none;
    font-size: var(--normal-font-size);
    font-family: var(--body-font);
    cursor: pointer;
}